@font-face{
    font-family: 'light';
    src: url('fonts/NanumSquare_acL.ttf');
}
@font-face{
    font-family: 'regular';
    src: url('fonts/NanumSquare_acR.ttf');
}
@font-face{
    font-family: 'bold';
    src: url('fonts/NanumSquare.ttf');
}
@font-face{
    font-family: 'extrabold';
    src: url('fonts/NanumSquare_0.ttf');
}

body {
    font-family: 'regular';

    background: black;
    background: -webkit-linear-gradient(to right, #46212a, #2e2236, #1c3146);
    background: linear-gradient(to right, #46212a, #2e2236, #1c3146); 
    color: #fff;
    line-height: 200%;
    scroll-behavior: smooth;
}

/* 메뉴 바의 내용을 담는 div */
.header {
    overflow: hidden;
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); 
    position: fixed; /* 메뉴 화면을 고정시킴 */
    top: 0; /* 페이지 가장 위에 고정 */
    left: 0;
    width: 100%;
    font-family: 'bold';
    height: 70px;
    z-index: 2;
}

.progress-container { /* The progress container */
    background: linear-gradient(to right, #612937, #493158, #1f3f5f); 
    width: 100%;
    height: 6px;
}
#progress-bar { /* The progress bar (scroll indicator) */
    height: 6px;
    background:#f9ceffa4;
    width: 0%;
}
  
#mar { /* 메뉴 바 오른쪽의 여백 조정용 */
    float:right;
    text-decoration: none;
    padding-left: 10%;
    color:  #00000000;
    -webkit-user-select: none;
}

/* 로고, 하이퍼링크 구현 관련 설정 */
.menu a{
    position: relative;
    display: inline-block;
}
.menu a:after{
    content: ""; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
}

#logo {  /* 로고 */
    float: left;
    height: 40px;
    padding: 17px 180px;
    font-family: 'extrabold';
    font-size: 27px;
    background: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
}

.menu {  /* 메뉴 */
    float: right;
    overflow: hidden;
}

.menu .menubtn {  /* 메뉴 버튼 속성 */
    font-size: 18px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    padding: 20px 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width: 180px;
    transition: all .5s ease;
}

.menu:hover .menubtn {  /* 마우스를 올렸을 때 메뉴 안 목록의 배경색 지정 */
    background-color: rgba(255, 255, 255, 0.2);
}

.contents {
    width:1000px;
    margin: 150px auto;
}

.indexbox {
    width: 700px;
    margin: 0 auto;
    height: 500px;
}
.indexbutton {
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 20px;
    width: 50%;
    font-family: bold;
}
#pilbutton { background-color: #C06C84; }
#pilbutton:hover { background-color: #e48da5; }
#silbutton { background-color:  #355C7D; }
#silbutton:hover { background-color: #3a76aa; }
.indexcontent {
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); 
    color: white;
    display: none;
    padding: 100px 70px;
    height: 320px;
  }

.switch { /* 슬라이더 주변 */
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
    margin-right: 15px;
  }
.switch input { /* 기본 체크박스 디자인 없애기 */
    opacity: 0; width: 0; height: 0;
}
/* 정답보기 슬라이더 */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 17px;  width: 17px;
    left: 4px; bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider { background-color: #d46182; }
input:focus + .slider { box-shadow: 0 0 1px #d46182; }
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

.answer {
    display: none;
}